.container {
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
#ballButton:hover{
  transform: scale(1.1);
}
#ballButton:active{
  transform: scale(0.9);
}
